<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
  PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<!--Database Driver-->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<!-- JDBC URL, gapdp 为数据库名 -->
		<property name="connection.url">jdbc:postgresql://db3.icb.ac.cn/</property>
	
		<!-- 数据库用户名 -->
		<property name="connection.username"></property>
		<!-- 数据库密码 -->
		<property name="connection.password"></property>
		
		<property name="connection.pool_size">5</property>

		<!-- 指定数据库方言 -->
		<property name="dialect">org.hibernate.dialect.ProgressDialect</property>

		<!--是否将运行期生成的SQL输出到日志以供调试 -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
        </property>

		<!--
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.ProxoolConnectionProvider
		</property>
		<property name="hibernate.proxool.pool_alias">DBPool</property>
		<property name="hibernate.proxool.xml">proxoolconf.xml</property>
		-->
		<!-- JNDI 链接池配置 -->
		<!-- JNDI 名字 -->
		<!-- <property name="hibernate.connection.datasource">java:/wavefancy/gapweb</property> 
			<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property> 
			<property name="hibernate.transaction.manager_loopup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property> -->

		<!-- 不支持通配符*，所以这里需要一个文件一个文件的配置，有点烦呢:( -->
		<mapping resource="users.hbm.xml" />
		<mapping resource="articles.hbm.xml" />
		<mapping resource="groups.hbm.xml" />
		<!--
		<mapping resource="dailyCashNote.hbm.xml" />
		-->
		
	</session-factory>
</hibernate-configuration>
